/* ===================================== */
/*              SIDEBAR STYLES           */
/* ===================================== */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  overflow-x: auto;
  background-color: var(--color-sidebar);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  transition: transform var(--transition-medium);
  z-index: 1000;
}

.sidebar.collapsed {
  transform: translateX(-100%);
}

/* Sidebar Toggle and Account Buttons */
.sidebar-toggle-button {
  position: fixed;
  top: 15px;
  left: 15px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  transition: color var(--transition-medium);
  z-index: 1001;
  color: var(--color-text);
}

.sidebar-toggle-button:hover {
  color: var(--color-primary);
}

.sidebar__account-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  transition: color var(--transition-medium);
  z-index: 1001;
  color: var(--color-white); /* Account Button Set to White */
}

.sidebar__account-button:hover {
  color: var(--color-primary);
}

/* Sidebar Buttons */
.sidebar__buttons {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-md);
}

.sidebar__button {
  display: flex;
  align-items: center;
  padding: var(--spacing-sm);
  margin: var(--spacing-xs) 0;
  background-color: var(--color-sidebar-hover);
  color: var(--color-text);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: var(--font-size-medium);
  transition: background-color var(--transition-medium), color var(--transition-medium);
}

.sidebar__button:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.sidebar__button svg {
  margin-right: var(--spacing-sm);
  font-size: var(--font-size-icon);
}

/* Sidebar Content */
.sidebar__content {
  height: 100%;
  overflow-y: auto; /* Enable vertical scrolling if needed */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  padding: 8px; /* Optional: Add some padding */
  box-sizing: border-box; /* Include padding in width calculations */
}

/* Hide default list styles */
.arborist__tree {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.sidebar__account-icon {
  font-size: var(--font-size-large);
}
